@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    overflow: hidden;
}

body {
    background-color: black;
}

* {
    margin: 0;
    padding: 0;
}

.splash {
    width: 100%;
    min-height: 100vh;
    background-color: black;
    text-align: center;
    transition: 0.5s ease;
    position: absolute;
}

.splash img {
    width: 120px;
    height: 120px;
    margin: auto;
    display: block;
    top: 45%;
    position: sticky;
}

.lights-menu {
    background-color: transparent;
    min-height: 20vh;
}

.lights-menu .title {
    color: white;
    text-align: center;
    padding: 20px;
}

.lights-menu .title h1 {
    padding: 10px;
    font-size: 26px;
    transition: 0.2s ease;
}

.lights-menu .title h1:hover {
    transform: scale(0.8);
}

.lights-menu .options {
    margin: auto auto 15px auto;
    display: flex;
    gap: 20px;
}

.lights-menu .options .col-md-12 {
    margin: auto;
    justify-content: center;
    display: flex;
    gap: 20px;
}

.lights-menu .options button {
    font-weight: bold;
    background-color: rgb(179, 179, 179);
    color: black;
    text-align: center;
}

.lights-menu .options .dropdown-menu button {
    font-weight: bold;
    background-color: rgb(179, 179, 179);
    color: black;
    text-align: center;
    width: 150px;
    margin: auto;
}

.lights-container {
    background-color: transparent;
    min-height: 80vh;
}

.laserBeams {
    position: absolute;
    background-color: transparent;
    min-height: inherit;
}

.laser {
    position: absolute;
    border-left: 1px solid lightgreen;
    min-height: inherit;
    margin-bottom: 8px;
    margin-left: 35%;
}

/* BOOTSTRAP OVERWRITE */
.dropdown-menu {
    width: 20%;
}

.btn-primary {
    background-color: rgba(0, 0, 0, 0);
    border: 0px !important;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: rgba(136, 136, 136, 0.5) !important;
}

.btn-primary:focus::after {
    background-color: rgba(90, 90, 90, 0.5) !important;
}

.btn-primary:disabled {
    background-color: rgba(90, 90, 90, 0.5) !important;
}

.btn.show {
    background-color: grey;
}

.dropdown-toggle {
    margin-right: 12px;
}
